.container {
  min-height: 100vh;
  /* padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 */
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.footer {
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5vh;
  font-family: "Montserrat", sans-serif;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: "Raleway", sans-serif;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  padding-inline: 5em;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.gridFooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 800px;
  margin-top: 3rem;
}

.button {
  padding: 1.5rem;
  font-weight: 800;
  font-size: 3em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-family: "Montserrat", sans-serif;
}

.button:hover,
.button:focus,
.button:active {
  color: #0070f3;
  border-color: #0070f3;
}

.logo {
  height: 1em;
}
.screen {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.cardHolder {
  display: flex;
  justify-content: center;
}

.team {
  display: flex;
  flex-direction: row;
}
.team div {
  flex: 1;
  padding: 7vw;
}

.approach {
  display: flex;
  flex-direction: column;

  padding: 7vw;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
